<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments::head(title=${brouwer}==null ?
'Brouwer niet gevonden' : ${brouwer.naam})"></head>
<body>
	<div th:if="${brouwer}==null" class="fout">Brouwer niet gevonden.</div>
	<h1 th:if="${brouwer}!=null" th:text="${brouwer.naam}"></h1>
	<dl th:if="${brouwer}!=null" th:object="${brouwer}">
		<dt>Straat</dt>
		<dd th:text="*{adres.straat}"></dd>
		<dt>Huisnummer</dt>
		<dd th:text="*{adres.huisNr}"></dd>
		<dt>Postcode</dt>
		<dd th:text="*{adres.gemeente.postcode}"></dd>
		<dt>Gemeente</dt>
		<dd th:text="*{adres.gemeente.naam}"></dd>
		<dt>Ondernemingsnummer</dt>
		<dd th:text="*{ondernemingsNr}"></dd>
	</dl>
	<div th:if="${brouwer}!=null">
		<a th:href="@{/brouwers/{id}/ondernemingsnr(id=${brouwer.id})}">Ondernemingsnummer
			invullen</a>
	</div>
<body>
</html>