<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title=#{proefpakket})"></head>
<body>
	<h1 th:text="#{proefpakket}"></h1>
	<blockquote th:text="#{omschrijvingProefpakket}"></blockquote>
	<img th:alt="#{brouwerij}" th:src="@{/images/brouwerij.jpg}"
		class="fullwidth">
	<div th:text="#{kiesEenBrouwer}"></div>
	<ul id="alfabet">
		<li th:each="letter:${alfabet}"><a
			th:href="@{/alfabet/{letter}(letter=${letter})}" th:text="${letter}"></a>
		</li>
	</ul>
	<ul th:if="${brouwers} != null">
		<li th:each="brouwer:${brouwers}" th:object="${brouwer}"><a
			th:href="@{/brouwers/{id}(id=*{id})}" th:text="*{naam}"></a></li>
	</ul>
	<a th:href="@{?locale=nl_BE}">Nederlands</a>
	<a th:href="@{?locale=fr_BE}">Français</a>
</body>
</html>