<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Ondernemingsnummer')"></head>
<body>
	<div th:if="${brouwer}==null" class="fout">Brouwer niet gevonden.</div>
	<h1 th:if="${brouwer}!=null">
		Ondernemingsnummer <span th:text="${brouwer.naam}"></span>
	</h1>
	<form th:if="${brouwer} != null" method="post"
		th:action="@{/brouwers/{id}/ondernemingsnr(id=${brouwer.id})}"
		th:object="${ondernemingsNrForm}">
		<label>Ondernemingsnummer: <span th:errors="*{ondernemingsNr}"></span>
			<input type="number" th:field="*{ondernemingsNr}" required autofocus>
			<input type="submit" value="Bewaren">
		</label>
	</form>
</body>
</html>